<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <link rel="icon" href="img/favicon.png">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Refaccionaria UAM</title>
   </head>
<body>


    <div class="container">
        <header class="row banner">
             <div class="col-sm-2">
                <img id="imgLogo" class="img-responsive" src="img/logo.png" />
             </div>
             <div class="col-sm-8">
                  <hgroup>
                      <h1>REFACCIONARIA</h1>
                      <h2> LA UAM </h2>
                  </hgroup>
            </div>
            <div class="col-sm-2">
                    <img id="imgLogo" class="img-responsive" src="img/logo2.png" />
                </div>
            </header>
    </div>




    </div>
    <div  class="container">
        <div class="section">
            <button class="btn" id="boton">Consultar cliente</button>
            <table>
                    <thead>
                      <tr>
                          <th>Nombre</th>
                          <th>Apellido</th>
                          <th>Materno</th>
                          <th>Genero</th>
                          <th>Telefono</th>
                          <th>Correo</th>
                      </tr>
                    </thead>
            
                    <tbody id="resp">
                    </tbody>
                  </table>
        </div>
    </div>
    
    <script src="resp.js"></script>
    
</body>
</html>